<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=750">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='index.css') }}">
    <title>image-calculator</title>
</head>
<header>
    <h1>Image calculator!</h1>
</header>
<body>
    {% if request == 'POST'%}
        {% if not txt %}
            <div class="error-box">
                <p>FileNotFoundError!!</p>
            </div>
        {% else %}
            <div id="images">
                <img class="image" src="{{ filepath }}" alt="計算式=答え"><br>
                <br>
                <img class="image" src="{{ filepathframe }}" alt="読み取り結果"><br>
            </div>
            {% if calc_error %}
            <div class="error-box">
                <p>{{ txt }}{{ ans }}</p>
            </div>
            {% else %}
            <div class="ans-box">
                <p>{{ txt }} = {{ ans }}</p>
            </div>
            {% endif %}
        {% endif %}
    {% endif %}
    <form action="/" method="POST" enctype="multipart/form-data">
        <p><input type="file" id="file-btn"　name="uploadFile"/></p>
        <p><input type="submit" id="sbmt-btn" value="計算！"/></p>
    </form>
</body>
</html>
